.home {
    display: flex;
    align-items: flex-end;
    min-height: calc(100vh - 6rem);
    flex: 1;
    background-image: url("../images/kitchen/kitchen-corner.jpg");
    background-size: cover;
}

.greeting {
    height: 16rem;
    width: 50rem;
    font-size: 1.5rem;
    background-color: rgb(241,230,210, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

@media  (max-width: 480px) {
    .home {
        background-position-x: center;
        justify-content: center;
        align-items: center;
    }

    .greeting {
        width: 80%;
        text-align: center;
        background-color: rgb(241,230,210, 0.5);
        font-weight: 300;
        margin-bottom: 0;
    }
}