.home {
    flex: 1;
    background-image: url("../images/kitchen/kitchen-corner.jpg");
    background-size: cover;
}

.greeting {
    position: relative;
    top: 16rem;
    left: 6rem;
    height: 16rem;
    width: 50rem;
    font-size: 1.5rem;
    background-color: rgb(241,230,210, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}