.item-page {
    display: flex;
    flex: 1;
    min-height: calc(100vh - 6rem);
    background-color: #f1f1ef;
}

.image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.ip-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem;
    height: 40rem;
    background-color: #e0e0d6;
}

.ip-item-image {
    object-fit: cover;
    max-width: 34rem;
    max-height: 38rem;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

.item-info-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 34rem;
}

.ip-item-name,
.ip-item-price {
    font-size: 2rem;
}

.add-to-cart {
    width: 10rem;
}

@media  (max-width: 480px) {
    .item-page {
        flex-direction: column;
    }

    .ip-image-box {
        max-height: 60vh;
    }

    .ip-item-image {
        max-width: 90%;
    }

    .item-content {
        align-items: center;
        padding: 1rem 0;
    }

    .item-info-box {
        text-align: center;
        width: auto;
    }
}